<div class="top-bar">
  <app-loading class="loadingspinner" *ngIf="(loading$ |async)"></app-loading>
  <h4 class="navbutton" (click)="openBreweryForm()">SEARCH BREWERIES</h4>
  <h4 class="navbutton" (click)="openBeerForm()">SEARCH BEERS</h4>
</div>
<div class="search-bar" *ngIf="brewerySearchOn">
  <form [formGroup]="breweryForm" class="form-group">
      <div class="form-field">
        <label>Name </label>
        <input formControlName="breweryName" name="breweryName" type="text">
        <button (click)="onBreweryNameSearch()">Search</button>
      </div>
      |
      <div class="form-field">
        <label>Country </label>
        <select formControlName="breweryCountry" (change)="onBreweryCountrySearch()">
          <option value="">Select a Country</option>
          <option *ngFor="let location of (countryCodes$ | async)" [value]="location.countryIsoCode">{{location.country.displayName}}</option>
        </select>
      </div>
  </form>
</div>
<div class="search-bar" *ngIf="beerSearchOn">
  <form [formGroup]="beerForm" class="form-group" >
    <div class="form-field">
      <label>Name </label>
      <input formControlName="beerName" type="text">
      <button (click)="onBeerNameSearch()">Search</button>
    </div>
    |
    <div class="form-field">
      <label>Type </label>
      <select formControlName="beerStyle" (change)="onBeerStyleSearch()">
        <option value="">Select a type</option>
        <option *ngFor="let style of (styles$ | async)" [value]="style.id">{{style.name}}</option>
      </select>
    </div>
  </form>
</div>



