<div class="navbar">
  <h4 (click)="onBrewerySearch()">BREWERIES</h4>
  <h4 (click)="onBeerSearch()">BEERS</h4>
</div>
<div class="navbar" [@divState]="state" *ngIf="brewerySearchOn">
  <form [formGroup]="breweryForm" class="form-group" >
    <div class="form-field">
      <label>Name</label>
      <input formControlName="breweryName" name="breweryName" type="text">
    </div>
    <div class="form-field">
      <label>Country</label>
      <input formControlName="breweryCountry" type="text">
    </div>
    <button (click)="onBrewerySearch()">Search</button>
  </form>
</div>
<div class="navbar" [@divState]="state" *ngIf="beerSearchOn">
  <form [formGroup]="beerForm" class="form-group" >
    <div class="form-field">
      <label>Name</label>
      <input formControlName="beerName" type="text">
    </div>
    <div class="form-field">
      <label>Country</label>
      <input formControlName="beerType" type="text">
    </div>
    <div class="form-field">
      <label>Country</label>
      <input formControlName="beerCountry" type="text">
    </div>
    <button (click)="onBeerSearch()">Search</button>
  </form>
</div>

