<div class="navBar">
    <div class="navBar__topBar">
        <app-loading class="loadingSpinner" *ngIf="(loading$ |async)"></app-loading>
        <h4 class="navButton" (click)="openBreweryForm()"
            [ngStyle]="brewerySearchOn ? {'color': 'white'} : { 'color' : '#932d28'}"
        >
            SEARCH BREWERIES
        </h4>
        <div class="logoContainer" (click)="navigateHome()">
            <img class="logo" src="../../../assets/beer-128.png" alt="">
        </div>
        <h4 class="navButton" (click)="openBeerForm()"
            [ngStyle]="beerSearchOn ? {'color': 'white'} : { 'color' : '#932d28'}"
        >
            SEARCH BEERS
        </h4>
    </div>
    <div class="navBar__searchBar" *ngIf="brewerySearchOn">
        <div class="navBar__searchBar__brewerySearch row">
            <div class="nameSearch col-xs-12 col-sm-6">
                <form [formGroup]="breweryForm" class="form-group">
                    <label>
                        Name
                    </label>
                    <input formControlName="breweryName"
                           name="breweryName"
                           type="text">
                    <button (click)="onBreweryNameSearch()">
                        Search
                    </button>
                </form>
            </div>
            <div class="countrySearch col-xs-12 col-sm-6">
                <form [formGroup]="breweryForm" class="form-group">
                    <label>Country </label>
                    <select formControlName="breweryCountry"
                            (change)="onBreweryCountrySearch()"
                    >
                        <option value="">Select a Country</option>
                        <option *ngFor="let location of (countryCodes$ | async)"
                                [value]="location.countryIsoCode"
                        >
                            {{location.country.displayName}}
                        </option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="navBar__searchBar" *ngIf="beerSearchOn">
        <div class="navBar__searchBar__beerSearch row">
            <div class="nameSearch col-xs-12 col-sm-6">
                <form [formGroup]="beerForm" class="form-group">
                    <label>
                        Name
                    </label>
                    <input formControlName="beerName" type="text">
                    <button (click)="onBeerNameSearch()">
                        Search
                    </button>
                </form>
            </div>
            <div class="typeSearch col-xs-12 col-sm-6">
                <form [formGroup]="beerForm" class="form-group">
                    <label>
                        Type
                    </label>
                    <select formControlName="beerStyle" (change)="onBeerStyleSearch()">
                        <option value="">
                            Select a type
                        </option>
                        <option *ngFor="let style of (styles$ | async)"
                                [value]="style.id"
                        >
                            {{style.name}}
                        </option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>



