p, span {
    color: white
}

.searchData {
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.divider {
    color: #dd472c;
}

.brewery-list {
    margin-top: 50px;
    display: inline;
}

.brewery-list li {
    font-size: 14px;
    color: white;
    list-style: none;
}

.brewery-list li:hover {
    color: #dd472c;
    cursor: pointer;
    text-decoration: underline;
}
