<div class="beerList row">
    <div *ngIf="(searchData$ | async) as searchData">
        <div class="beerList__searchData col-xs-12"
             *ngIf="searchData.currentPage"
        >
            <span>
                Matches found: {{searchData.totalResults}}
            </span>
            <span *ngIf="searchData.totalResults !== 0">
                <span class="divider">
                    |
                </span>
                <div *ngIf="searchData.currentPage > 1">
                    <span class="searchNavigation"
                          (click)="this.beerPageChange(searchData.currentPage -1)"
                    >
                        Previous page
                    </span>
                    <span class="divider">
                        |
                    </span>
                </div>
                <span>
                    Page: {{searchData.currentPage}} of {{searchData.numberOfPages}}
                </span>
                <span class="divider">
                    |
                </span>
                <span *ngIf="+searchData.currentPage < searchData.numberOfPages">
                    <span
                        class="searchNavigation"
                        (click)="this.beerPageChange(searchData.currentPage + 1)"
                    >
                    Next page
                    </span>
                </span>
            </span>
        </div>
    </div>
    <div class="beerList__list col-xs-8 col-xs-offset-1"
         *ngIf="(beers$ | async ) as beers"
             [@listAnimation]="beers?.length"
    >
        <ul class="listItems"
            *ngFor="let beer of (beers$ | async); let i = index"
            (click)="onGoToBeer(i)"
        >
            <li>
                {{beer.name}}
            </li>
        </ul>
    </div>
</div>

