.beerList{
    p, span {
        color: white
    }

    &__searchData {
        display: flex;
        justify-content: center;
        font-size: 12px;
        margin: 5px;


        .divider {
            color: #dd472c;
            margin: 0 2px;
        }

        .searchNavigation:hover {
            color: #dd472c;
            cursor: pointer;
        }
    }

    &__list {
        margin-top: 50px;
        display: inline;

        .listItems{
            li {
                font-size: 14px;
                color: white;
                list-style: none;
            }

            li:hover {
                color: #dd472c;
                cursor: pointer;
                text-decoration: underline;
            }

        }
    }
}
