<div class="beerlist row">
    <div *ngIf="(searchData$ | async) as searchData">
        <div class="beerlist__searchData col-xs-12"
             *ngIf="searchData.totalResults"
        >
            <span>
                Matches found: {{searchData.totalResults}}
            </span>
            <span class="divider">
                |
            </span>
            <span *ngIf="+searchData.currentPage > +1">
                <span class="searchnavigation"
                    (click)="this.beerPageChange(+searchData.currentPage -1)"
                >
                    Previous page
                </span>
                <span class="divider">
                    |
                </span>
            </span>
            <span>
                Page: {{searchData.currentPage}} of {{searchData.numberOfPages}}
            </span>
            <span class="divider">
                |
            </span>
            <span *ngIf="+searchData.currentPage < +searchData.numberOfPages">
                <span
                    class="searchnavigation"
                    (click)="this.beerPageChange(+searchData.currentPage + 1)"
                >
                Next page
                </span>
            </span>
        </div>
    </div>
    <div class="beerlist__list col-xs-8 col-xs-offset-1"
         [@listAnimation]="(beers$ | async)?.length"
    >
        <ul class="beerlist__list item"
            *ngFor="let beer of (beers$ | async); let i = index"
            (click)="onGoToBeer(i)"
        >
            <li>
                {{beer.name}}
            </li>
        </ul>
    </div>
</div>
