<div class="row">
    <div class="col-xs-10 col-xs-offset-1 brewerycontainer"
         *ngFor="let brewery of (brewery$ | async)"
    >
        <h2>
            {{brewery.name}}
        </h2>
        <h4 *ngIf="brewery.established">
            Est. {{brewery.established}}
        </h4>
        <div class="imagecontainer"
             *ngIf="brewery.images?.medium; else NA"
        >
            <img [src]="brewery.images.medium" alt="">
        </div>
        <div>
            <p *ngIf="brewery.description">
                {{brewery.description}}
            </p>
            <p *ngIf="!brewery.description">
                No description available.
            </p>
        </div>
        <div>
            <p>
                <a [href]="brewery.website" target="_blank">
                    {{brewery.website}}
                </a>
            </p>
            <p class="beerlink" (click)="goToBreweryBeers(brewery.id)">
                Beers by this brewery
            </p>
        </div>
    </div>
</div>
<ng-template #NA>
    <div class="noimage">
        <p>No image available</p>
    </div>
</ng-template>
