<div class="beerDetail row">
    <div class="beerDetail__container col-xs-10 col-xs-offset-1 "
         *ngFor="let beer of (beer$ | async)">
        <div class="title">
            <h2>
                {{beer.name}}
            </h2>
        </div>
        <div class="subtitle">
            <h4>
                {{beer.style?.name}}
            </h4>
        </div>
        <div class="labelContainer"
             *ngIf="beer.labels && beer.labels.medium"
        >
            <img [src]="beer.labels.medium" alt="">
        </div>
        <div class="noLabel" *ngIf="!beer.labels">
            <p>
                No image available
            </p>
        </div>
        <div class="descriptionBlock">
            <h5>
                DESCRIPTION
            </h5>
            <p *ngIf="beer.style?.description; else NA">
                {{beer.style.description}}
            </p>
        </div>
        <hr>
        <div class="beerDetail__container__styleDetails row ">
            <div class="styleItems col-xs-3">
                <p>ABV min:
                    <span *ngIf="beer.style?.abvMin ; else NA">
                        {{beer.style.abvMin}}
                    </span>
                </p>
                <p>ABV max:
                    <span *ngIf="beer.style?.abvMax ; else NA">
                        {{beer.style.abvMax }}
                    </span>
                </p>
            </div>
            <div class="styleItems col-xs-3">
                <p>FG min:
                    <span *ngIf="beer.style?.fgMin ; else NA">
                        {{beer.style.fgMin}}
                    </span>
                </p>
                <p>FG max:
                    <span *ngIf="beer.style?.fgMax ; else NA">
                        {{beer.style.fgMax}}
                    </span>
                </p>
            </div>
            <div class="styleItems col-xs-3">
                <p>IBU min:
                    <span *ngIf="beer.style?.ibuMin ; else NA">
                        {{beer.style.ibuMin}}
                    </span>
                </p>
                <p>IBU max:
                    <span *ngIf="beer.style?.ibuMax ; else NA">
                        {{beer.style.ibuMax}}
                    </span>
                </p>
            </div>
            <div class="styleItems col-xs-3">
                <p>SRM min:
                    <span *ngIf="beer.style?.srmMin ; else NA">
                        {{beer.style.srmMin}}
                    </span>
                </p>
                <p>SRM max:
                    <span *ngIf="beer.style?.srmMax ; else NA">
                        {{beer.style.srmMax}}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<ng-template #NA>
    <span style="color: white">
        N/A
    </span>
</ng-template>
