<div *ngFor="let beer of (beer$ | async)">
  <h2>{{beer.name}}</h2>
  <h4>{{beer.style.name}}</h4>
  <div *ngIf="beer.labels && beer.labels.medium">
    <img  [src]="beer.labels.medium" alt="">
  </div>
  <div *ngIf="!beer.labels">
    <p >No image available</p>
  </div>
  <p *ngIf="beer.style.description; else NA">Description: {{beer.style.description}}</p>
  <div>
    <p>ABV min: <span *ngIf="beer.style.abvMin ; else NA">{{beer.style.abvMin}}</span></p>
    <p>ABV max: <span *ngIf="beer.style.abvMax ; else NA">{{beer.style.abvMax }}</span></p>
    <p>FG min: <span *ngIf="beer.style.fgMin ; else NA">{{beer.style.fgMin}}</span></p>
    <p>FG max: <span *ngIf="beer.style.fgMax ; else NA">{{beer.style.fgMax}}</span></p>
    <p>IBU min: <span *ngIf="beer.style.ibuMin ; else NA">{{beer.style.ibuMin}}</span></p>
    <p>IBU max: <span *ngIf="beer.style.ibuMax ; else NA">{{beer.style.ibuMax}}</span></p>
    <p>SRM min: <span *ngIf="beer.style.srmMin ; else NA">{{beer.style.srmMin}}</span></p>
    <p>SRM max: <span *ngIf="beer.style.srmMax ; else NA">{{beer.style.srmMax}}</span></p>
  </div>
</div>
<ng-template #NA> <span>N/A</span></ng-template>
